.checkout {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .productContainer  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.cartimg{
  width: 80px;
  height: 40px;
}
table{
padding: 10px;
margin: 10px;

}

.input{
  width: 40px;
  height: 10px;
}
.filters{
 top: 0;
}
th{
  padding-left: 40px;
  margin: 20px;
 }
 td{
  padding-left: 40px;
  margin: 20px;
 }
 .checkheading{
 display: flex;
 align-items: center;
 justify-content:space-between;
 }